                                                                 ::i-block-chrome,
                                                                #texto_solicitud_de_servicios {
                                                                    font-size: 40px;
                                                                    margin-top: -2%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #imagen_conexion_remota {
                                                                    margin-left: 133%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #div_texto_diligencie {
                                                                    padding-bottom: 30%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_podemos_crear {
                                                                    font-size: 33px;
                                                                    padding-bottom: 1%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_confie {
                                                                    font-size: 23px;
                                                                    margin-left: 1%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #div_defensa {
                                                                    text-align: right;
                                                                    position: relative;
                                                                    left: 115%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #imagen_abrir_comillas {
                                                                    width: 15px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #imagen_cerrar_comillas {
                                                                    width: 15px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #imagen_contacto {
                                                                    height: 195px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_contacto {
                                                                    font-size: 37px;
                                                                    padding-top: 16px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_soporte_conexion {
                                                                    font-size: 39px;
                                                                    margin-top: 7%;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_tipo_soporte {
                                                                    font-size: 25px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #contenedor_visitanos_en {
                                                                    height: 88px;
                                                                    padding-top: 4%;
                                                                    font-size: 34px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_ciudades {
                                                                    font-size: 29px;
                                                                    height: 43px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_ciudades_barranquilla_bucaramanga {
                                                                    font-size: 29px;
                                                                    height: 43px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #texto_algunos_de_nuestros_clientes {
                                                                    font-size: 25px;
                                                                }
                                                                
                                                                 ::i-block-chrome,
                                                                #titulo_servicios {
                                                                    font-size: 25px;
                                                                    padding-bottom: 1%;
                                                                }